In [1]:
from get_data import get_data
from preprocess_data import preprocess_data

In [2]:

filtered_data = get_data("data/accepted_2007_to_2018q4.csv", use_cache=False)
processed_data = preprocess_data(filtered_data)

c:\Users\Sondr\Desktop\Pre-project-transformer\get_data.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["issue_d"] = pd.to_datetime(data["issue_d"], format="%b-%Y")
c:\Users\Sondr\Desktop\Pre-project-transformer\get_data.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["earliest_cr_line"] = pd.to_datetime(data["earliest_cr_line"], format="%b-%Y")
c:\Users\Sondr\Desktop\Pre-project-transformer\get_data.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["credit_age"] = (data["issue_d"] - data["earliest_cr_line"]).dt.days / 30
c:\Users\Sondr\Desktop\Pre-project-transformer\get_data.py:61: FutureWarning: The default value of regex will change from True to False in a future version.
  data["desc"] = data["desc"].str.replace("Borrower added on [^ ]+ > ", "")

In [3]:
filtered_data.head()

,loan_status,loan_amnt,term,int_rate,purpose,fico_range_low,grade,inq_last_6mths,revol_util,delinq_2yrs,...,total_acc,annual_inc,emp_length,home_ownership,verification_status,dti,desc,credit_age,revolving_income_ratio,desc_length
1180006,Fully Paid,10.239960,36 months,7.12,debt_consolidation,715.0,1.000000,0.0,49.6,0.0,...,40.0,11.512925,2.0,MORTGAGE,Verified,19.13,I support myself and my mother and have taken ...,232.333333,11.832000,34
1226216,Fully Paid,9.405084,36 months,14.99,debt_consolidation,680.0,0.666667,1.0,49.3,1.0,...,57.0,10.657259,1.0,OWN,Verified,19.51,"Dear Lenders, I have gotten into debt by bein...",241.433333,6.352941,116
1309223,Charged Off,8.294050,36 months,17.57,medical,685.0,0.500000,0.0,24.9,0.0,...,9.0,10.714418,3.0,RENT,Not Verified,20.16,to pay medical bill medical bill.hospital I wa...,92.300000,2.746667,29
1309250,Fully Paid,9.392662,36 months,9.67,debt_consolidation,685.0,0.833333,0.0,52.2,0.0,...,15.0,10.645425,2.0,MORTGAGE,Not Verified,11.71,The loan is to consolidate all high interest c...,87.200000,1.828571,21
1309276,Fully Paid,9.350102,60 months,15.61,debt_consolidation,790.0,0.666667,3.0,3.2,0.0,...,24.0,10.373491,10.0,RENT,Source Verified,26.95,Debt consolidation. I want to pay off a high i...,192.766667,3.937500,22

In [4]:
processed_data.head()

,loan_status,loan_amnt,int_rate,fico_range_low,grade,inq_last_6mths,revol_util,delinq_2yrs,pub_rec,open_acc,...,purpose_vacation,purpose_wedding,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
1180006,1,10.239960,7.12,715.0,1.000000,0.0,49.6,0.0,0.0,24.0,...,0,0,1,0,0,0,0,0,0,1
1226216,1,9.405084,14.99,680.0,0.666667,1.0,49.3,1.0,0.0,15.0,...,0,0,0,0,0,1,0,0,0,1
1309223,0,8.294050,17.57,685.0,0.500000,0.0,24.9,0.0,0.0,8.0,...,0,0,0,0,0,0,1,1,0,0
1309250,1,9.392662,9.67,685.0,0.833333,0.0,52.2,0.0,0.0,7.0,...,0,0,1,0,0,0,0,1,0,0
1309276,1,9.350102,15.61,790.0,0.666667,3.0,3.2,0.0,0.0,9.0,...,0,0,0,0,0,0,1,0,1,0

In [5]:
description_length = processed_data['desc'].str.split(" ").map(len)
description_length.groupby(processed_data['loan_status']).describe()

               count       mean        std   min   25%   50%   75%    max
loan_status
0             5284.0  42.550341  21.485666  20.0  27.0  38.0  53.0  330.0
1            31362.0  42.313819  20.996649  20.0  28.0  39.0  52.0  649.0