In [7]:
from get_data import get_data
from preprocess_data import preprocess_data
import pandas as pd
pd.options.mode.copy_on_write = True

In [8]:
filtered_data = get_data("data/accepted_2007_to_2018q4.csv", use_cache=False)
processed_data = preprocess_data(filtered_data)

In [9]:
filtered_data.head()

,loan_status,loan_amnt,term,int_rate,purpose,fico_range_low,grade,inq_last_6mths,revol_util,delinq_2yrs,...,total_acc,annual_inc,emp_length,home_ownership,verification_status,dti,desc,credit_age,revolving_income_ratio,desc_length
1180006,Fully Paid,10.239960,36 months,7.12,debt_consolidation,715.0,1.000000,0.0,49.6,0.0,...,40.0,11.512925,2.0,MORTGAGE,Verified,19.13,I support myself and my mother and have taken ...,232.333333,11.832000,36
1212721,Charged Off,10.126631,36 months,16.99,debt_consolidation,660.0,0.500000,0.0,66.3,0.0,...,17.0,11.156251,1.0,RENT,Verified,10.50,Trying to pay a friend back for apartment brok...,172.466667,5.142857,20
1226216,Fully Paid,9.405084,36 months,14.99,debt_consolidation,680.0,0.666667,1.0,49.3,1.0,...,57.0,10.657259,1.0,OWN,Verified,19.51,"Dear Lenders, I have gotten into debt by bein...",241.433333,6.352941,121
1309223,Charged Off,8.294050,36 months,17.57,medical,685.0,0.500000,0.0,24.9,0.0,...,9.0,10.714418,3.0,RENT,Not Verified,20.16,to pay medical bill medical bill.hospital I wa...,92.300000,2.746667,29
1309250,Fully Paid,9.392662,36 months,9.67,debt_consolidation,685.0,0.833333,0.0,52.2,0.0,...,15.0,10.645425,2.0,MORTGAGE,Not Verified,11.71,The loan is to consolidate all high interest c...,87.200000,1.828571,22

In [10]:
processed_data.head()

,loan_status,loan_amnt,int_rate,fico_range_low,grade,inq_last_6mths,revol_util,delinq_2yrs,pub_rec,open_acc,...,purpose_vacation,purpose_wedding,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
1180006,1,10.239960,7.12,715.0,1.000000,0.0,49.6,0.0,0.0,24.0,...,False,False,True,False,False,False,False,False,False,True
1212721,0,10.126631,16.99,660.0,0.500000,0.0,66.3,0.0,0.0,10.0,...,False,False,False,False,False,False,True,False,False,True
1226216,1,9.405084,14.99,680.0,0.666667,1.0,49.3,1.0,0.0,15.0,...,False,False,False,False,False,True,False,False,False,True
1309223,0,8.294050,17.57,685.0,0.500000,0.0,24.9,0.0,0.0,8.0,...,False,False,False,False,False,False,True,True,False,False
1309250,1,9.392662,9.67,685.0,0.833333,0.0,52.2,0.0,0.0,7.0,...,False,False,True,False,False,False,False,True,False,False

In [11]:
description_length = processed_data['desc'].str.split(" ").map(len)
description_length.groupby(processed_data['loan_status']).describe()

               count       mean        std  min   25%   50%   75%     max
loan_status
0            10376.0  57.348882  59.204540  8.0  28.0  42.0  59.0  1030.0
1            60536.0  56.976873  53.994977  7.0  28.0  43.0  60.0  1043.0

In [35]:
for status in [0, 1]:
    loan_status_0_stats = processed_data[processed_data["loan_status"] == status].describe(percentiles=[0.5])
    print(f"Loan status {'Fully paid' if status else 'Default'}")
    display(loan_status_0_stats.transpose())

Loan status Default

,count,mean,std,min,50%,max
loan_status,10376.0,0.000000,0.000000,0.000000,0.000000,0.000000
loan_amnt,10376.0,9.452920,0.646903,6.802395,9.574983,10.463103
int_rate,10376.0,15.430855,4.243781,5.420000,15.310000,26.060000
fico_range_low,10376.0,693.696993,28.291398,660.000000,685.000000,825.000000
grade,10376.0,0.619780,0.234905,0.000000,0.666667,1.000000
inq_last_6mths,10376.0,0.994892,1.122936,0.000000,1.000000,8.000000
revol_util,10376.0,60.005732,24.105567,0.000000,63.200000,105.100000
delinq_2yrs,10376.0,0.222726,0.683878,0.000000,0.000000,14.000000
pub_rec,10376.0,0.097436,0.358644,0.000000,0.000000,7.000000
open_acc,10376.0,10.897938,4.776276,2.000000,10.000000,41.000000
total_acc,10376.0,23.859773,11.125722,2.000000,22.000000,70.000000
annual_inc,10376.0,10.972525,0.490148,8.699515,10.968198,13.458913
emp_length,10376.0,5.672803,3.527341,0.500000,5.000000,10.000000
dti,10376.0,17.194773,7.438376,0.000000,17.270000,34.990000
credit_age,10376.0,174.361568,79.815070,36.500000,159.333333,605.666667
revolving_income_ratio,10376.0,2.828106,3.856351,0.000000,1.437949,60.000000
desc_length,10376.0,63.685139,68.199303,20.000000,46.000000,927.000000

Loan status Fully paid

,count,mean,std,min,50%,max
loan_status,60536.0,1.000000,0.000000,1.000000,1.000000,1.000000
loan_amnt,60536.0,9.351868,0.650687,6.214608,9.392662,10.463103
int_rate,60536.0,12.804939,4.139627,5.420000,12.490000,26.060000
fico_range_low,60536.0,705.360777,33.715995,630.000000,700.000000,845.000000
grade,60536.0,0.752690,0.211464,0.000000,0.833333,1.000000
inq_last_6mths,60536.0,0.796055,1.034293,0.000000,0.000000,8.000000
revol_util,60536.0,54.616345,25.304193,0.000000,57.000000,113.900000
delinq_2yrs,60536.0,0.197585,0.627364,0.000000,0.000000,18.000000
pub_rec,60536.0,0.079870,0.329714,0.000000,0.000000,17.000000
open_acc,60536.0,10.586709,4.611897,1.000000,10.000000,53.000000
total_acc,60536.0,24.069545,11.225646,2.000000,23.000000,99.000000
annual_inc,60536.0,11.060566,0.507699,8.476371,11.050890,15.781472
emp_length,60536.0,5.523779,3.527160,0.500000,5.000000,10.000000
dti,60536.0,15.842349,7.436804,0.000000,15.640000,34.990000
credit_age,60536.0,178.069076,80.979226,36.500000,163.400000,656.466667
revolving_income_ratio,60536.0,2.930918,3.981314,0.000000,1.577143,78.433735
desc_length,60536.0,63.625760,63.178342,20.000000,47.000000,970.000000

Index(['loan_status', 'loan_amnt', 'int_rate', 'fico_range_low', 'grade',
       'inq_last_6mths', 'revol_util', 'delinq_2yrs', 'pub_rec', 'open_acc',
       'total_acc', 'annual_inc', 'emp_length', 'dti', 'desc', 'credit_age',
       'revolving_income_ratio', 'desc_length', 'term_ 36 months',
       'term_ 60 months', 'purpose_car', 'purpose_credit_card',
       'purpose_debt_consolidation', 'purpose_educational',
       'purpose_home_improvement', 'purpose_house', 'purpose_major_purchase',
       'purpose_medical', 'purpose_moving', 'purpose_other',
       'purpose_renewable_energy', 'purpose_small_business',
       'purpose_vacation', 'purpose_wedding', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN',
       'home_ownership_RENT', 'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified'],
      dtype='object')